<div class="container">
  <h1>Secret stuff here!</h1>
  <p>Hello, <%= @name %>!</p>
  <p>Jkai loves you!</p>
  <p>Click his picture to log out.</p>
  <a href="/logout"><img id='jkai' src='/jkai.jpg'></a>
</div>
